<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Мой новый файл стилей -->
    <link rel="stylesheet" href="/style.css">

    <title>Delete</title>
</head>
<body>
<div th:fragment="content">
    <div class="modal fade" id="deleteModal" tabindex="-1"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <!-- Заполнение модального окна данными пользователя через JSON-->
                <div class="modal-body">
                    <form id="deleteForm">
                        <div class="form-group">
                            <label for="delete-id"><strong>ID</strong></label>
                            <input type="text" class="form-control"
                                   id="delete-id" readonly
                                   name="id" disabled>
                        </div>

                        <div class="form-group">
                            <label for="delete-username"><strong>First Name</strong></label>
                            <input type="text" class="form-control"
                                   id="delete-username" readonly
                                   name="username" disabled>
                        </div>

                        <div class="form-group">
                            <label for="delete-secondname"><strong>Last Name</strong></label>
                            <input type="text" class="form-control"
                                   id="delete-secondname" readonly
                                   name="secondname" disabled>
                        </div>

                        <div class="form-group">
                            <label for="delete-age"><strong>Age</strong></label>
                            <input type="text" class="form-control"
                                   id="delete-age" readonly
                                   name="age" disabled>
                        </div>

                        <div class="form-group">
                            <label for="delete-email"><strong>Email</strong></label>
                            <input type="text" class="form-control"
                                   id="delete-email" readonly
                                   name="email" disabled>
                        </div>

                        <div class="form-group role-group">
                            <label for="delete-role"><strong>Role</strong></label>

                            <select class="form-control" id="delete-role"
                                    name="role" size="2" multiple disabled>
                            </select>
                        </div>
                    </form>


                </div>
                <div class="modal-footer">
                    <!-- Кнопки для закрытия или удаления данных -->
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal" id="deleteClose">Close
                    </button>
                    <input type="submit" class="btn btn-danger"
                           value="Delete"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/delete.js"></script>

</body>
</html>