<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Мой новый файл стилей -->
    <link rel="stylesheet" href="/style.css">
    <title>User</title>
</head>
<body>
<div class="container-fluid">

    <!-- Header, верхняя часть контейнера -->
    <div class="custom-top-bar">
        <div class="navbar-brand ms-2" id="navbar-head">
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-end me-4">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="submit" class="btn btn-link text-light border-0 text-decoration-none"
                            th:href="@{/logout}">Logout
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <br/>
    <!-- Область ниже, разделенная на два блока: navigation и info -->
    <div class="row">
        <!-- Навигационный блок, левая часть -->
        <div class="col-2 bg-white text-dark d-flex flex-column">
            <ul class="nav flex-grow-1 flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-primary text-white" href="/user">User</a>
                </li>
            </ul>
        </div>

        <!-- Информационная часть -->
        <div class="tab-content col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab"
                     tabindex="0">

                    <h2>User Information Page</h2>
                    <br>
                    <!-- Таблица -->
                    <div class="tab-pane fade show active" id="user">
                        <div class="table-container">
                            <table class="table table-striped table-bordered table-borderless" id="userTable">
                                <h4>About User</h4>
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="table">
                                <!--Заполняется через JSON-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/user.js"></script>
</body>
</html>